.header {
    /* background: #1a334d; */
    background: #171e52;
    margin-bottom: 20px;
    padding: 10px 0;
}
.header [nz-col] {
  justify-content: center;
  text-align: center;
}
.header [nz-col] button {
  width: 180px;
}
.header h2 {
  color: #ffffffff;
  margin: 0;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.metalGlassLogo {
  /* width: 100%; */
  width: 200px;
  height: 80px
}
h4 {
    justify-content: center;
    text-align: center;
}
.scrollUserPhotos {
  /* overflow: scroll; */
  overflow-y: scroll;
  /* height: 300px; */
  height: 500px;
  width: 100%;
  /* background: rgb(245, 245, 245); */
}

/* .scrollUserPhotos nz-col, .scrollUserPhotos nz-card, .scrollUserPhotos nz-card img { */
/* .scrollUserPhotos nz-card, .scrollUserPhotos nz-card img { */
.scrollUserPhotos img {
  height: 100%;
  width: 100%;
}

.userInfoDivContent {
  border: rgb( 238, 238, 238) solid 1px;
  padding-bottom: 24px;
  max-height: 880px;
}

.userInfoDivIntoContent {
  padding: 0 24px 24px 24px;
}

.userInfoDivIntoContent button {
  /* margin: 24px 0 0 0; */
  width: 100%;
}

 /* .actionButtons {
  padding-top: 24px;
 } */
