.header {
  /* background: #1a334d; */
  background: #171e52;
  margin-bottom: 20px;
  padding: 10px 0;
}

.header [nz-col] {
  justify-content: center;
  text-align: center;
}

.header [nz-col] button {
  width: 180px;
}

.header h2 {
  color: #ffffffff;
  margin: 0;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.metalGlassLogo {
  /* width: 100%; */
  width: 200px;
  height: 80px
}

#search_box,
.search-box {
  padding: 8px;
}

#search_box,
.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

#search_box,
.search-box button {
  width: 90px;
}

#search_box,
.search-button {
  margin-right: 8px;
}

/* .col-registerAssignment [nz-col] {
  margin-right: 24px;

} */

.col-registerAssignment button {
  width: 100%;
}
